
body{
	border-style: solid;
	border-color: #B3ECEC;
	border-width: 3px;
}

.Div1 {
    background-color: #90EE90;
    padding: 10px 15px 10px;
    margin: auto;
}

.Div2 {
    background-color: #B3ECEC;
    padding: 10px 15px 10px;
    margin: auto;
}

.Div3 {
    background-color: #C4A484;
    padding: 10px 15px 10px;
    margin: auto;
}

h1{
	font-family: Bebas Neue;
	color: #000000;
	text-shadow: whitesmoke 3px 3px;
}
ul{
   font-family: Arial;
   color: black;
}
